---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=d360a1806e0e98381d18ae93828d14cb&units=metric&zip=75454,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-96.574,"lat":33.2841},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":26.8,"feels_like":25.99,"temp_min":26.8,"temp_max":26.8,"pressure":1015,"humidity":21,"sea_level":1015,"grnd_level":992},"visibility":10000,"wind":{"speed":1.34,"deg":210,"gust":4.02},"clouds":{"all":1},"dt":1742853165,"sys":{"type":2,"id":19478,"country":"US","sunrise":1742819054,"sunset":1742863234},"timezone":-18000,"id":0,"name":"Melissa","cod":200}'
  recorded_at: Mon, 24 Mar 2025 21:52:45 GMT
recorded_with: VCR 6.3.1
